body {
    background-color: lightgray;
    font-size: 16px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: blue;
}

.avatar {
    width: 200px;
    border-radius: 50px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 25);
}

.info {
    display: flex;
    margin-bottom: 20px;
}

@media (max-width: 700px) {
    .info {
        text-align: center;
        display: block;
    }
}

.info-text {
    margin-left: 40px;
}

.info-text h4 {
    margin-bottom: 10px;
}

.info p {
    margin: 0;
    font-style: italic;
    font-weight: bold;
}

.container {
    margin: auto;
    padding-top: 30px;
}

.bg-yellow {
    background: #fff9dc;
}

.bg-green {
    background: #e5ffe7;
}

.bg-red {
    background: #ffe5e5;
}

.bg-purple {
    background: #dbdeff;
}

.bg-blue {
    background: #dbf3ff;
}

.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.list {
    padding: 0 20px;
    list-style: square;
}

.list li {
    margin-top: 10px;
}



